//顏色
@each $color, $value in $theme-colors{
  //文字色
  .text-#{$color}{
    color: $value !important;
  }
  //背景色
  .bg-#{$color}{
    background-color: $value !important;
  }
}
//text
.text-center{
  text-align: center !important;
}

@each $level, $value in $font-sizes{
  .fs-#{$level}{
    font-size: $value !important;
  }
}

//font-weight
.fw-light{
  font-weight: $fw-light !important;
}
.fw-medium{
  font-weight: $fw-medium !important;
}

//display
.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
.jc-center{
  justify-content: center;
}

//border
.border-bottom{
  border-bottom: 1px solid $color-dark !important;
}
.border-left{
  border-left: 1px solid $color-dark !important;
}
.border-1{
  border-width: 2px !important;
}
@each $color, $value in $theme-colors{
  .border-#{$color}{
    border-color: $value !important;
  }
}

//border-radius
.rounded-circle{
  border-radius: 50% !important;
}

//spacing
@each $level, $value in $spacers{
  @each $dir, $dir-value in $dirs{
    @if $dir == "" {
      .m-#{$level}{
        margin: $value !important;
      }
      .p-#{$level}{
        padding: $value !important;
      }
    }@else {
      .m#{$dir}-#{$level}{
        margin-#{$dir-value}: $value !important;
      }
      .p#{$dir}-#{$level}{
        padding-#{$dir-value}: $value !important;
      }
    }
  } 
} 
.mx-auto{
  margin-left: auto !important;
  margin-right: auto !important;
}

//sizing
.w-218{
  width: 218px;
}