//colors
$color-primary: #415165;
$color-primary-light: #96A9C4;
$color-danger: #A00404;
$color-dark: #000;
$color-light: #fff;

$theme-colors: (
  primary:       $color-primary,
  primary-light: $color-primary-light,
  danger:        $color-danger,
  dark:          $color-dark,
  light:         $color-light,
);

//spacing
$s-base: 16; 
$spacer: 1rem;
$dirs: (
  "":"",
  t: top,
  b: bottom,
  s: left,
  e: right
);
$spacers: (
  0: 0,
  1: (8 / $s-base) * $spacer,
  2: (16 / $s-base) * $spacer,
  3: (24 / $s-base) * $spacer,
  4: (32 / $s-base) * $spacer,
  5: (40 / $s-base) * $spacer,
  6: (48 / $s-base) * $spacer,
  7: (56 / $s-base) * $spacer,
  8: (64 / $s-base) * $spacer,
  9: (72 / $s-base) * $spacer,
  10: (72 / $s-base) * $spacer
);

//font-size
$f-base: 16;
$font-size: 1rem;
$font-sizes: (
  1: (80 / $f-base) * $font-size,
  2: (32 / $f-base) * $font-size,
  3: (24 / $f-base) * $font-size,
  4: (20 / $f-base) * $font-size,
  5: (16 / $f-base) * $font-size,
  lg: (48 / $f-base) * $font-size
);

//font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;



